/* --- About Us -------*/
.start h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    color:blue;
}

.start span {
    color: #fc0fa9;
    text-decoration-line: underline;
}

.start p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:red;
}
.start p:hover{
    color:green;
}